
        <form action="/questions/edit" method="post">
            <textarea name="question" placeholder="Question"><%= @question.question %>
            <input type="hidden" name="id" value="<% @question.id %>"
             <input type="text" name="answer" value="<%= @question.answer %>" 
              <input type="text" name="flag" value="<%= @question.flag %>"
               <input type="submit" value="Save">
        </form>
